{% extends "BlogBundle::layout.html.twig" %}
{% block content %}

{% for message in app.session.flashbag().get('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

    <div class="col-lg-4">
        <h2>Identifícate</h2>
        <hr/>
        <form action="{{path("login_check")}}" method="post">
            <label>Email:</label>
            <input type="email" id="username" name="_username"  class="form-control" />
            <br/>
            <label>Contraseña:</label>
            <input type="password" id="password" name="_password" class="form-control" />
            <br/>
            <input type="submit" value="Entrar" class="btn btn-success"/>
            <input type="hidden" name="_target_path" value="/login" />
        </form>
    </div>
    
    
    <div class="col-lg-4">
        <h2>Registrate</h2>
        {{form_start(form, {'action':'', 'method':'POST'})}}
        {{form_end(form)}}
        {%for message in app.session.flashbag().get("status")%}
            {%if message=="Nuevo usuario registrado" %}
                <div class="alert alert-success"> {{message}} </div>
            {%else%}
                <div class="alert alert-Danger"> {{message}} </div>
            {%endif%}
                
            
            
            
        {%endfor%}
    </div>
    
    <div class="clearfix"></div>
{% endblock %}