{% extends "BlogBundle::layout.html.twig" %}

{% block menu %}
    {% include "BlogBundle:Category:menuCategories.html.twig" with {"categories": categories}  %}
{% endblock %}


{% block content %}

{% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for entry in entries %}
    <div class="col-lg-11">
        <p class="pull-left" style="margin-right:20px;"><img width="200" src="{{ asset("uploads/"~entry.image)}}"/></p>
        <p><strong>{{entry.title}}</strong></p>
        <p>{{entry.category.name}}</p>
        <p>Autor:{{entry.user.name}}</p>
        
        <p>
            {% for et in entry.entryTag %}
                {{et.tag.name}}
            {% endfor %}
        </p>
        
        <p>
            {%if((app.user.id is defined) and (app.user.id==entry.user.id))%}
                <a href="{{path("blog_entry_edit", {"id":entry.id})}}" class="btn btn-danger">Editar</a>
                <a href="{{path("blog_entry_delete", {"id":entry.id})}}" class="btn btn-danger">Eliminar</a>
            {%endif%}
        </p>

        
        <div class="clearfix"></div>
        <hr/>
    </div>
    
    <div class="clearfix"></div>
{% endfor %}
    
<ul class="pagination"> 
    {%if page==1%}
        {%set page=2%}
    {%endif%}
    <li> <a href="{{path("blog_homepage" ,{"page":page-1})}}"> &laquo </a>  </li>
        {%for i in 1..pagesCount%}
            <li><a href="{{path("blog_homepage" ,{"page":i})}}"> {{i}}</a></li>
        {%endfor%}
    {%if page==pagesCount%}
        {%set page=pagesCount-1%}
    {%endif%}
    <li> <a href="{{path("blog_homepage" ,{"page":page+1})}}"> &raquo </a>  </li>
</ul>
{% endblock %}